/* General styling settings for the document */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: black;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    background-color: rgba(240, 240, 240, 0.9);
}

/* Main Header styling*/

.headerContainer {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;

}

#websiteName{
    margin-left: 3em;
    font-size: 1.5em;
    font-weight: bold;
}

/* For the welcome to website */
.layer1Container{
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome{
    font-size: 1.5em;
    font-weight: bold;
}

/* For the button to add the book */
.layer2Container{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
}

#addBookButton{
    width: 10em;
    height: 4em;
    border: none;
    border-radius: 2em;
    background-color: rgb(0, 0, 0, 0);
    
}


.addBookText{
    font-size: 1.5em;
    font-weight: 600;
}

#addBookButton:hover{
    background-color: rgb(198, 198, 198);
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.layer3Container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}


.modal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalContainer{
    background-color: rgb(255, 255, 255);
    width: 18em;
    height: 22em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader{
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.inputs{
    text-align: center;
}

.modalBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
